<div class="col-lg-6">
	<h1>{{titulo}}</h1>
	<div *ngIf="alertMessage">
		<div class="alert alert-dismissible alert-info">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Atenci&oacute;n!</strong> {{alertMessage}}
		</div>
	</div>
	<form class="col-md-10" #userUpdateForm="ngForm" (ngSubmit)="onSubmit()">
		<p>
			<label>Nombre:</label>
			<input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="user.name" required>
			<span *ngIf="!name.valid && name.touched"> Los nombres son obligatorios</span>
		</p>
		<p>
			<label>Apellidos:</label>
			<input type="text" class="form-control" #surname="ngModel" name="surname" [(ngModel)]="user.surname" required>
			<span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorios</span>
		</p>
		<p>
			<label>Correo electrónico:</label>
			<input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" required>
			<span *ngIf="!email.valid && email.touched">El correo es obligatorio</span>
		</p>
		<div class="image_for_edit" *ngIf="user.image && user.image != 'null'">
			<img src="{{url+'getImageUser/'+user.image}}" style="width: 50px;" />
		</div>
		<p>
			<label>Sube tu foto:</label>
			<input type="file" placeholder="Subar imagen..." (change)="fileChangeEvent($event)">
		</p>
		<input type="submit" name="Actualizar mis datos" class="btn btn-primary">
	</form>
</div>